<div>Berat badan Anda bisa dikatakan ideal jika angka BMI Anda berada antara angka 18,5 sampai 25.
    <strong>Bagaimana cara menjaga agar berat badan tetap ideal?</strong>
    Anda perlu mengonsumsi makanan dan minuman sesuai dengan kebutuhan kalori harian Anda, untuk mempertahankan berat badan ideal seperti sekarang.
    Misalnya, jika kebutuhan kalori harian Anda adalah 1950 kkal, maka Anda harus mengonsumsi makanan dengan total kalori 1950 per harinya.
    Untuk mengetahui berapa kalori yang Anda butuhkan setiap hari, cek di <strong><a href="https://hellosehat.com/cek-kesehatan/kalkulator-bmr/">Kalkulator Kebutuhan Kalori</a></strong>.
    Yang juga perlu Anda tahu untuk menjaga berat badan ideal:
    <ul>
    <li><a href="https://hellosehat.com/hidup-sehat/tips-sehat/cara-menghitung-berat-badan-ideal/">Berapa Berat Badan Ideal Anda? Hitung di Sini</a></li>
    <li><a href="https://hellosehat.com/hidup-sehat/nutrisi/kenapa-orang-kurus-perutnya-masih-bisa-buncit/">Tubuh Langsing Tapi Perut Buncit, Apa Penyebabnya?</a></li>
    <li><a href="https://hellosehat.com/hidup-sehat/nutrisi/13-tips-makan-sehat-untuk-orang-sibuk/">13 Tips Makan Sehat untuk Orang Sibuk</a></li>
    </ul></div>