<div>Anda termasuk kurus atau memiliki berat badan kurang, jika angka BMI Anda berada di bawah 18,5.
    <strong>Bagaimana cara menambah berat badan?</strong>
    Jika Anda ingin menaikkan berat badan, Anda perlu mengonsumsi makanan dan minuman dengan jumlah kalori yang <strong>lebih besar</strong> dari kebutuhan kalori harian Anda.
    Anda bisa menambahkan asupan kalori Anda sebanyak 300-500 kkal per hari. Misalnya, jika kebutuhan total kalori harian Anda adalah 1700 kkal, Anda perlu mengonsumsi makanan dengan total 1700+500 = 2200 kkal per hari.
    Untuk mengetahui berapa kalori yang Anda butuhkan setiap hari, cek di <strong><a href="https://hellosehat.com/cek-kesehatan/kalkulator-bmr/">Kalkulator Kebutuhan Kalori</a>.</strong>
    Yang juga perlu Anda tahu untuk menambah berat badan:
    <ul>
    <li><a href="https://hellosehat.com/hidup-sehat/nutrisi/susu-penambah-berat-badan-efektif/">Apakah Susu Efektif Menambah Berat Badan?</a></li>
    <li><a href="https://hellosehat.com/hidup-sehat/nutrisi/6-cara-sehat-menggemukkan-badan/">6 Cara Sehat untuk Menaikkan Berat Badan</a></li>
    <li><a href="https://hellosehat.com/hidup-sehat/nutrisi/skinny-fat-kurus-tidak-sehat-banyak-lemak/">Meski Kurus, Tubuh Anda Juga Bisa Kelebihan Lemak</a></li>
    </ul></div>